<!doctype html>
<html>
<head>
 <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
	 <div class="intro-header">    
      <div class="container">
        <div class="post-heading">
            <h1>{{page.title}}</h1>
            <span class="meta">Posted by <a href="{{ site.baseurl }}/about"> {{page.author}}
            </a> on {{ page.date | date: "%B %e, %Y" }}
            <a href="{{ site.baseurl }}/"> { Return to Blog }</a>
            </span>
        </div>
            
      </div>
    </div>
    

    <div id="main" role="main" class="container">
      <article>
	<p>Kamran Janjua, M. and Nawaz, S. and Calefati, A. and Gallo, I. <br><strong>"Revisiting Cross Modal Retrieval".</strong> <br>Under Review at European Conference on Computer Vision Workshop, 2018 (ECCVW).</p>
	<button onclick="location.href='https://arxiv.org/pdf/1807.07364v1.pdf'" type="button" class="btn btn-primary btn-xs">Paper</button>
	<button type="button" class="btn btn-success btn-xs">Code</button>
	
	<p>Kamran Janjua, M. and Nawaz, S. and Calefati, A. and Gallo, I. <br><strong>"Git Loss for Deep Face Recognition".</strong> <br>British Machine Vision Conference, 2018 (BMVC) (Workshops) [ORAL].</p>
	<button onclick="location.href='https://arxiv.org/pdf/1807.08512.pdf'" type="button" class="btn btn-primary btn-xs">Paper</button>
	<button onclick="location.href='https://github.com/kjanjua26/Git_Loss_For_Deep_Face_Recognition'" type="button" class="btn btn-success btn-xs">Code</button>
	
	<p>Gallo, I. and Nawaz, S. and Calefati, A. and Kamran Janjua, M.<br><strong>"Image and Text Fusion for Multi-modal Classification".</strong> <br>Under Review at European Conference on Computer Vision Workshop, 2018 (ECCVW).</p>
	<button type="button" class="btn btn-primary btn-xs">Paper</button>
	<button type="button" class="btn btn-success btn-xs">Code</button>
	</article>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
            <div class="svg-icon">
          {% include svg-icons.html %}
            </div>
        </footer>
      </div>
    </div>


    {% include analytics.html %}  
</body>
</html>
