<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <style>
      .intro-header{
        background-color: #000000
      }
    </style>
  </head>

  <body>
    
    <div class="intro-header">
        <div class="wrapper-masthead">
         <div class="container">
           <header class="masthead clearfix">
             <div class="site-info">
               <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
               <p class="site-description">{{ site.description }}</p>
             </div>
           </header>
         </div>
       </div>
       
        <div class="container">
            <div class="space-small"></div>
           
            <div class="centered">
              <ul class="ch-grid">
                <li>
                    <div class="ch-item ch-img-1">				
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"></div>
                                <div class="ch-info-back">
                                    <h3>{{site.name}}</h3>
                                    <p></br><a href="https://linkedin.com/in/{{ site.footer-links.linkedin }}">View on LinkedIn</a></p>
                                </div>	
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
             
             <div class="space-medium"></div>
            
        </div>
    </div>

      <div id="main" role="main" class="container">
      <h3> Welcome! </h3>
     <p>I am second PhD student in computer science at The Applied Recognition Technology Laboratory  <a href='http://artelab.dista.uninsubria.it/'><u>Arte-Lab</u></a> , University of Insubria Italy with research interests in multi-modal fusion under supervisor of <a href='http://www.dicom.uninsubria.it/~ignazio.gallo/'><u>Prof. Ignazio Gallo</u></a>. I have succesfully completed master program from Technical University of Eindhoven, Netherlands and Technical Univesity of Berlin, Germany under European Institute of Innovation and Technology Digital Master program.</p>
      <h3> Publication </h3>
      <p>Kamran Janjua, M. and Nawaz, S. and Calefati, A. and Gallo, I. <br><strong>"Revisiting Cross Modal Retrieval".</strong> <br>Under Review at European Conference on Computer Vision Workshop, 2018 (ECCVW).</p>
        <button onclick="location.href='https://arxiv.org/pdf/1807.07364v1.pdf'" type="button" class="btn btn-primary btn-xs">Paper</button>
        <button type="button" class="btn btn-success btn-xs">Code</button>

        <p>Nawaz, S. and Kamran Janjua, M. and Calefati, A. and Gallo, I. <br><strong>"Git Loss for Deep Face Recognition".</strong> <br>British Machine Vision Conference, 2018 (BMVC) (Workshops) [ORAL].</p>
        <button onclick="location.href='https://arxiv.org/pdf/1807.08512.pdf'" type="button" class="btn btn-primary btn-xs">Paper</button>
        <button onclick="location.href='https://github.com/kjanjua26/Git_Loss_For_Deep_Face_Recognition'" type="button" class="btn btn-success btn-xs">Code</button>

        <p>Gallo, I. and Nawaz, S. and Calefati, A. and Kamran Janjua, M.<br><strong>"Image and Text Fusion for Multi-modal Classification".</strong> <br>Under Review at European Conference on Computer Vision Workshop, 2018 (ECCVW).</p>
        <button type="button" class="btn btn-success btn-xs">Paper</button>
        <button type="button" class="btn btn-success btn-xs">Code</button>
      
      
        <p> Nawaz, S. and Calefati, A. and Ahmed, N. and Gallo, I. <br><strong>"Hand Written Characters Recognition via Deep Metric Learning ".</strong> <br>13th IAPR International Workshop on Document Analysis Systems, Vienna, Austria, 2018. </p>
        <button onclick="location.'http://artelab.dista.uninsubria.it/res/research/papers/2018/2018-DAS-Nawaz.pdf'" type="button" class="btn btn-primary btn-xs">Paper</button>
        <button onclick="location.'https://github.com/Shahnawazgrewal/hand-written-characters-recognition-via-deep-metric-learning'" type="button" class="btn btn-primary btn-xs">Code</button>

        
        <p>Gallo, I. and Nawaz, S. and Calefati, A.<br><strong>"Semantic Text Encoding for Text Classification using Convolutional Neural Networks".</strong> <br>2017 14th IAPR International Conference on Document Analysis and Recognition (ICDAR2017), Kyoto, Japan, 2017. </p>
        <button onclick="http://artelab.dista.uninsubria.it/res/research/papers/2018/2018-DAS-Nawaz.pdf'" type="button" class="btn btn-primary btn-xs">Paper</button>
        <button onclick="location.href='http://artelab.dista.uninsubria.it/projects/demos/ste2img/index.php'" type="button" class="btn btn-primary btn-xs">Code</button>
      
        <p>Gallo, I. and Calefati, A. Nawaz, S.<br><strong>"Multimodal Classification Fusion in Real-World Scenarios".</strong> <br>2017 14th IAPR International Conference on Document Analysis and Recognition (ICDAR2017), Kyoto, Japan, 2017. </p>
        <button onclick="location.href='http://artelab.dista.uninsubria.it/res/research/papers/2017/2017-ICDAR-Gallo-multimodal.pdf'" type="button" class="btn btn-primary btn-xs">Paper</button>
        <button onclick="location.href='http://artelab.dista.uninsubria.it/downloads/datasets/commercial_offers/ferramenta/ferramenta.html'" type="button" class="btn btn-primary btn-xs">Dataset</button>

      
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
            <div class="svg-icon">
          {% include svg-icons.html %}
            </div>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
