<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <style>
      .intro-header{
        background-color: #000000
      }
    </style>
  </head>

  <body>
    
    <div class="intro-header">
        <div class="wrapper-masthead">
         <div class="container">
           <header class="masthead clearfix">
             <div class="site-info">
               <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
               <p class="site-description">{{ site.description }}</p>
             </div>
             <nav>
               <a href="{{ site.baseurl }}">About</a>
             </nav>
           </header>
         </div>
       </div>
       
        <div class="container">
            <div class="space-small"></div>
           
            <div class="centered">
              <ul class="ch-grid">
                <li>
                    <div class="ch-item ch-img-1">				
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"></div>
                                <div class="ch-info-back">
                                    <h3>{{site.name}}</h3>
                                    <p></br><a href="https://linkedin.com/in/{{ site.footer-links.linkedin }}">View on LinkedIn</a></p>
                                </div>	
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
             
             <div class="space-medium"></div>
            
        </div>
    </div>

    <div id="main" role="main" class="container">
	<p>Kamran Janjua, M. and Nawaz, S. and Calefati, A. and Gallo, I. <br><strong>"Revisiting Cross Modal Retrieval".</strong> <br>Under Review at European Conference on Computer Vision Workshop, 2018 (ECCVW).</p>
	<button onclick="location.href='https://arxiv.org/pdf/1807.07364v1.pdf'" type="button" class="btn btn-primary btn-xs">Paper</button>
	<button type="button" class="btn btn-success btn-xs">Code</button>
	
	<p>Kamran Janjua, M. and Nawaz, S. and Calefati, A. and Gallo, I. <br><strong>"Git Loss for Deep Face Recognition".</strong> <br>British Machine Vision Conference, 2018 (BMVC) (Workshops) [ORAL].</p>
	<button onclick="location.href='https://arxiv.org/pdf/1807.08512.pdf'" type="button" class="btn btn-primary btn-xs">Paper</button>
	<button onclick="location.href='https://github.com/kjanjua26/Git_Loss_For_Deep_Face_Recognition'" type="button" class="btn btn-success btn-xs">Code</button>
	
	<p>Gallo, I. and Nawaz, S. and Calefati, A. and Kamran Janjua, M.<br><strong>"Image and Text Fusion for Multi-modal Classification".</strong> <br>Under Review at European Conference on Computer Vision Workshop, 2018 (ECCVW).</p>
	<button type="button" class="btn btn-primary btn-xs">Paper</button>
	<button type="button" class="btn btn-success btn-xs">Code</button>    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
            <div class="svg-icon">
          {% include svg-icons.html %}
            </div>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>

